<!doctype html>
<html ⚡ lang="en">
  <head>
 {% include head.html %}
 {% include custom-style-min.html %}
  </head>
  <body>
    {% include header.html %}
    {% include amp-sidebar.html %}
    <div class="clearfix">
  <div class="sm-col sm-col-10">
     <main id="content" role="main">
     <article class="photo-article m3">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
   </main>
 </div>
  <div class="sm-col sm-col-2">
      second grid
  </div>
</div>
    {% include footer.html %}
  </body>
</html>
